<div class="DIV_25">
    <div class="DIV_26">
        <a href="{{nCtrl.cardUrl}}" class="A_27">
            <div class="grid">
                <figure class="effect-apollo">
                    <img src="{{nCtrl.newsCard.image}}" alt="img18"/>
                    <figcaption>
                        <h2><span></span></h2>
                        <p>{{nCtrl.title}}</p>
                    </figcaption>
                </figure>
            </div>
        </a>
        <div class="DIV_28">
            <h3 class="H3_41">
                <a href="{{nCtrl.cardUrl}}" class="A_42">{{nCtrl.title}}</a>
            </h3>
            <p class="P_43">
                {{nCtrl.description}}
            </p>
        </div>
    </div>
</div>