<div class="row" style="height: 100%">
    <aside class="sidebar-left col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="#">
                <img style="width: 50%" src="/imgs/favicon.png"/>
            </a>
        <div class="sidebar-links">
            <a class="{{category.class}}" ng-repeat="category in wCtrl.categories" ng-click="wCtrl.selectCategory(category.category)">
                <i class="fa {{category.fa}}"></i>{{category.category}}
            </a>
        </div>
    </aside>

    <div class="main-content col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div ng-if="wCtrl.defaultLoader" class="headerText" style="text-align: center">
            <loader-effect></loader-effect>
            <h1>Industrial IOT</h1>
        </div>
        <div ng-if="wCtrl.categories[0].selected">
            <h1 class="headerText">{{wCtrl.categories[0].category}}</h1>
            <div class="row">
                <loader-effect ng-if="!wCtrl.tweetsLoaded"></loader-effect>
                <div ng-repeat="tweet in wCtrl.finalTweets">
                    <div class="col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
                            <div class="card">
                            <div class="card-image">
                                <div class="imageDiv"><img class="img-responsive" ng-src={{tweet[1].user.profile_image_url}} alt="Image Unavailable"></div>
                                <div style="margin: 35px;" class="card-title">Tweet by {{tweet[1].user.name}} <span>(@{{tweet[1].user.screen_name}})</span></div>
                            </div>

                            <div class="card-content">
                                <p style="font-weight: bold">{{tweet[1].tweet}}</p>
                                <br/>
                                <p style="float: left;font-weight: bold;" ng-if="tweet[1].other.hashtags.length > 0">Tags:</p>
                                <p style="display: inline-block; margin-right: 5px;" ng-repeat="tag in tweet[1].other.hashtags">
                                    #{{tag.text}}
                                </p>
                                <p>

                                </p>
                            </div>

                            <div class="card-action">
                                <a ng-repeat="url in tweet[1].other.urls" href="{{url.url}}" target="new_blank">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="wCtrl.categories[1].selected">
            <h1 class="headerText">{{wCtrl.categories[1].category}}</h1>
            <span>Powered by <a href="https://bing.com" target="new_blank">Bing</a>, <a href="https://NewsAPI.org" target="new_blank">News API Org</a></span>
            <div class="row">
                <loader-effect ng-if="!wCtrl.pubsLoaded"></loader-effect>
                <div ng-repeat="publication in wCtrl.finalPublications">
                    <div class="col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-action bottom-action" ng-if="publication[1].source" style="font-weight: bold">
                                Publication From {{publication[1].source}}
                            </div>
                            <div class="card-image">
                                <div class="imageDivPub"><img style="display: inline !important; margin-top: 10px; width: 100% !important;" class="img-responsive" ng-src={{publication[1].article.urlToImage}} ng-if="publication[1].article.urlToImage != ''"></div>
                                <div class="imageDivPub"><img style="display: inline !important; margin-top: 10px; width: 100% !important;" class="img-responsive" src='/imgs/iot.jpg' ng-if="publication[1].article.urlToImage == ''"></div>
                                <div style="margin: 35px; font-weight: bold;" class="card-title">{{publication[1].article.title}}</div>
                            </div>

                               <div class="card-content">
                                <p>{{publication[1].article.description}}</p>
                            </div>
                            <div class="card-action" id="renderPage" ng-click="wCtrl.renderPage(publication[1].article.url)">
                                <a ng-click="wCtrl.renderExternal(publication[1].article.url)"
                                   href="{{publication[1].article.url}}" target="new_blank">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="wCtrl.categories[2].selected">
            <h1 class="headerText">{{wCtrl.categories[2].category}}</h1>
            <h2 style="color: darkred; font-weight: bold">Pending API Access</h2>
        </div>
        <div ng-if="wCtrl.categories[3].selected">
            <h1 class="headerText">{{wCtrl.categories[3].category}}</h1>
            <h2 style="color: darkred; font-weight: bold">Pending API Access</h2>
        </div>
        <div ng-if="wCtrl.categories[4].selected">
            <h1 class="headerText">{{wCtrl.categories[4].category}}</h1>
            <h2 style="color: darkred; font-weight: bold">Pending API Access</h2>
        </div>
    </div>
</div>